`stopwatch on

<p>invoke a simple tag</p>

Another simple tag aTag, which locates in the same directory as this template:

*{
}*
first define something in a Java code block. 

` List<String> strings = new ArrayList<String>(){{add("u");add("m");add("everyone");}};

`t aTag(strings)

again: `t aTag(strings)

`tag picka("aa", "b" + "c") | String r
    the tag chosen: $r
    <p>and we can call a tag recursively? Yes we can!</p>
    
    `tag SampleTag(r)
    
    <p>yes we can!</p>
`


note: the picka tag is defined in the japidviews/_tags directory
</p>

<p>
we can call without the body part:

`tag picka ("cc", "dd")

or with named args

`tag picka(a = "aa", b = "bb")

</p>
<p>
Or using the full path of the tag starting with japidview
</p>

`tag japidviews/templates/aTag(strings)

<p>You can use "." instead of "/" on the path:</p>

`tag japidviews.templates.aTag(strings)
